.Nav{
  width: 100%;
  height: 120px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  
}
.Nav img{
  height: 30px;
  position: relative;
}
.Nav img{
  cursor: pointer;
}
.Nav ul{
  display: flex;
  position: relative;
}
.Nav ul li{
  margin: 20px;
  list-style: none;
  font-size: 16px;
  color: #07050f;
  position: relative;
}
.Nav ul li::after{
  content: "";
  position: absolute;
  background-color:#07050f;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -10px;
  transition: 0.5s ease-in-out;
}
.Nav ul li:hover{
  cursor: pointer;
}
.Nav ul li:hover::after{
  width: 100%;
  }
.btn{
  width: 180px;
  padding: 15px 20px;
  border-radius: 30px;
  font-size: 15px;
  border: 1px solid black;
  background-color: #fff;
  transition: 0.5s ease-in-out;
}
.btn:hover{
  background-color: #07050f59;
  color: white;
  cursor: pointer;
}

.Hero{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 400px 0 0 0;
  background: url('bg.jpg');
  background-size: cover;
}
.Hero h1{
  font-size: 85px;
  font-weight: 500;
  color: #152035;
}

.Hero .plugin{
  width: max-content;
  padding: 0px 0px 200px 0;
}
.Hero .inner_plugin{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Hero .inner_plugin h1{
  letter-spacing: 30px;
}
.Hero .inner_plugin .span{
  font-family: "Outfit", sans-serif;
  font-size: 21vw;
  font-weight: 700;
  background: linear-gradient(to top right, #100647 0%, #F62358 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Hero .inner_plugin .span:nth-child(odd){
  animation: MoveUpDown 5s linear infinite;
}

.Hero .inner_plugin .span:nth-child(even){
  animation: MoveDownUp 5s linear infinite;
  animation-delay: 2.7s;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(-50);
  }
  50% {
    transform: translateY(50px);
  }
}


@keyframes MoveDownUp {
  0%, 100% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(-50px);
  }
}